<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:component-scan base-package="controller"/>
    <mvc:annotation-driven/>
    <mvc:resources location="WEB-INF/ftl/" mapping="/**"/>
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <mvc:resources location="assets/" mapping="/**"/>

    <mvc:interceptors>
        <!-- 日志拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="controller.Interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- FreeMarker配置 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="contentType" value="text/html; charset=utf-8"/>
        <property name="cache" value="true"/>
        <property name="suffix" value=".ftl"/>
        <property name="order" value="0"/><!-- 配置视图解析的顺序 -->
    </bean>
    <bean id="freeMarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!-- 模板的根目录 -->
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"/><!-- freemark模板存放的位置 -->
        <!-- 编码格式  -->
        <property name="defaultEncoding" value="utf-8"/><!-- freemark编码格式 -->
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">1</prop><!--刷新模板的周期，单位为秒 -->
            </props>
        </property>
    </bean>

</beans>